---
                                            Московский Авиационный Институт  
                                      (Национальный Исследовательский Университет)  
        
                
                
    Кафедра 806 «Вычислительная математика и программирование»  
    Институт: «Информационные технологии и прикладная математика»  
    Дисциплина: «Разработка ПО для высокопроизводительных систем»        
                


                                            --------------------------------
                                            Лабораторная работа по Pandas №1  
                                            --------------------------------    
                                            
                                            
                                            
                                                                                Группа: М8О-103М-20  
                                                                                Студент: Ларин Антон Владимирович  
                                                                                Преподаватель: Поповкин Александр Викторович  
                                                                                
                                                                                
                                                                                
                                                     Москва, 2020  
                                                         
---

Импортировать модули sys, numpy, pandas

In [65]:
import sys
import numpy as np
import pandas as pd

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [66]:
s = pd.Series([[1,2,3,4], np.arange(5), {"a": 10, "b": 20}])
s

0          [1, 2, 3, 4]
1       [0, 1, 2, 3, 4]
2    {'a': 10, 'b': 20}
dtype: object

Создать объект Series

In [70]:
s = pd.Series([10, 20, 30])
s

0    10
1    20
2    30
dtype: int64

Преобразовать в DataFrame

In [71]:
s.to_frame()

    0
0  10
1  20
2  30

Объединить несколько объектов Series в Dataframe

In [72]:
s1 = pd.Series([1, 2, 3], name="s1")
s2 = pd.Series([4, 5, 6], name="s2")
s3 = pd.Series([4, 5, 6], name="s3")
resFrame = pd.concat([s1, s2, s3], axis=1)
resFrame

   s1  s2  s3
0   1   4   4
1   2   5   5
2   3   6   6

Присвоить имя индексу объекта Series

In [73]:
s1 = pd.Series([1, 2, 3], index=["A", "B", "C"])
s1

A    1
B    2
C    3
dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B

In [74]:
s1 = pd.Series(np.arange(10))
s2 = pd.Series([1, 2, 3, 6, 7])
result = s1[~s1.isin(s2)]
result

0    0
4    4
5    5
8    8
9    9
dtype: int32

Возвратить вместе с индексами

In [75]:
resultWithIndexes = s1[~s1.isin(s2)]
resultWithIndexes

0    0
4    4
5    5
8    8
9    9
dtype: int32

Возвратить значения

In [76]:
resultWithoutIndexes = np.setdiff1d(s1, s2, assume_unique=False)
resultWithoutIndexes

array([0, 4, 5, 8, 9])

Получить не пересекающиеся элементы в двух объектах Series

Получить объединенный Series без повторений

In [77]:
s1 = pd.Series(np.arange(5))
s2 = pd.Series(np.arange(5) + 3)
union = pd.Series(np.union1d(s1, s2))
union

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

Получить пересекающиеся данные

In [78]:
intersect = pd.Series(np.intersect1d(s1, s2))
intersect

0    3
1    4
dtype: int32

Отобрать все данные, кроме пересекающихся

In [79]:
result = union[~union.isin(intersect)]
result

0    0
1    1
2    2
5    5
6    6
7    7
dtype: int32

Возвратить значения

In [80]:
resultValues = np.setxor1d(s1, s2)
resultValues

array([0, 1, 2, 5, 6, 7])